<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot_password</title>
</head>
<body>
    <form action="{{ url_for('forgot_password')}}" method="post">
        <!-- <div class="msg">{{ msg }}</div> -->
        <label for="email">Email:</label>
        <input id="email" name="email" type="text" required><br>
        <button type="submit">Recover </button>
        
    </form>
    
</body>
</html>