<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Gallery</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">{{ user.username }}</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="{{ url_for('home') }}" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="{{ url_for('about') }}" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="{{ url_for('projects') }}" class="nav__link">Project Gallery</a></li>

                    <li class="nav__item"><a href="{{ url_for('resume') }}" class="nav__link">Resume</a></li>

                    <li class="nav__item"><a href="{{ url_for('contact') }}" class="nav__link">Contact</a></li>
                </ul>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>
    <main class="l-main">
        <section class="work section" id="work">        
        <a href="#" class="nav__logo">{{ user.username }}</a>
            <div class="container mt-5">
                <br><BR><BR><BR>
                
                <div class="row">
                    {% for project in projects %}
                    <div class="col-md-4">
                        <div class="card project-card">
                            <img src="{{ project.image_url }}" class="card-img-top project-img" alt="{{ project.title }}">
                            <div class="card-body">
                                <h5 class="card-title project-title">{{ project.title }}</h5>
                                <p class="card-text project-description">{{ project.description }}</p>
                                <a href="{{ project.link }}" class="btn btn-primary" target="_blank">View Project</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
        </section>
    </main>

    <footer class="footer">
        <p class="footer__title">sandy</p>
        <div class="footer__social">
            <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-instagram'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-twitter'></i></a>
        </div>
    </footer>

    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
