<!DOCTYPE html>
<html>

<head>
    <title>service</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <p class="headpara">
            Contact Us +91 96366 20000/01 | mmahesh2183@gmail.com
        </p>
    </header>

    <nav>
        <table class="navtab">
            <tr>
                <th>
                    <text style="font-family: forte;font-size: 50px;"><span>SUPER</span>&nbsp;
                        Hospital</text></td>
                <th style="vertical-align: bottom;">
                    <a href="{{url_for('index')}}">HOME</a>
                    <a href="{{url_for('about')}}">ABOUT US</a>
                    <a href="{{url_for('service')}}">SERVICE</a>
                    <a href="{{url_for('doctors')}}">DOCTORS</a>
                    <a href="{{url_for('contact')}}">CONTACT US</a>
                    <a href="{{url_for('appointment')}}">DASHBOARD</a></td>
            </tr>
        </table>
        <hr>
    </nav>
    
    <div class="ser">
        <h4 style="margin-left: 200px;">OUR OUTSTANDING SERVICES</h4>
        <div class="list">
            
            <h1>What We Offer!</h1>
            <ul>
                <li>DENTAL IMPLANTS</li>
                <li>WHITENING</li>
                <li>VACCINATIONS</li>
                <li>LABORATORY</li>
                <li>MEDICAL DRESSAGE</li>
                <li>EMERGENCY CONTRACEPTION</li>
            </ul>
        </div>
        <div class="div2">
            <img src="../static/pictures/01.jpg" alt="pictures" class="img3">
        </div>
    </div><br><br>
    <hr>
    <div>
        <section>
            <p>------------</p>
            <h1>Our Department</h1>
            <ul>
                <li>DENTAL Care</li>
                <li>OTOLOGY</li>
                <li>CARDIAC</li>
                <li>HEPATOLOGY</li>
                <li>GASTROENTEROLOGY</li>
                <li>OUTPATIENT</li>
                <li>MENTAL HEALTH</li>
                <li>ORTHOPEDICS</li>
            </ul>
        </section>
    </div>
    <footer>
        <p>&copy; super hospital,the site designed by mitraz</p>
    </footer>
</body>

</html>